# Node.js
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Dependency directories
pids
*.pid
*.seed
*.pid.lock

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env

# Production build
build/
dist/